doctype html
head
  meta(charset="utf-8")
  title Vrepiplet

  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway&amp;subset=latin-ext')
  link(rel='stylesheet' href='/style.css')
body
  h1 Vrepiplet
  p Petit chat bien convivial
  a(href="/VrepipletAvecLeWhisperDirect.exe") Télécharger

  footer Créé par Nicolas Ettlin
