
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #f5f5f5;
  text-align: center;
  font-size: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  display: inline-block;
  padding: 15px 30px;
  margin-bottom: 3px;

  background: #F8CA00;
  color: white;
  text-decoration: none;

  border-radius: 4px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);

  transition: all ease-in-out .15s;
}

a:active {
  border-color: transparent;
  margin-top: 3px;
  margin-bottom: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
}

p {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #777;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;

  text-align: right;
  font-size: 20px;

  color: #aaa;
}
